@import "tailwindcss";
@config "../tailwind.config.ts";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --color-bg: 98.4% 0.003 247.858;
    --color-dominant: 96.8% 0.007 247.896;
    --color-surface: 100% 0 0;
    --color-support: 86.9% 0.022 252.894;
    --color-border: 92.9% 0.013 255.508;
    --color-text: 20.8% 0.042 265.755;
    --color-text-muted: 44.6% 0.043 257.281;
    --color-accent: 59.6% 0.145 163.225;
    --color-accent-hover: 50.8% 0.118 165.612;
    --color-accent-text: 100% 0 0;
    --color-danger: 57.7% 0.245 27.325;
    --color-overlay: 12.9% 0.042 264.695;

    color-scheme: light;
    color: oklch(var(--color-text));
    background: oklch(var(--color-bg));
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
      font-size: 16px;
    }
  }

  .dark {
    --color-bg: 20.8% 0.042 265.755;
    --color-dominant: 27.9% 0.041 260.031;
    --color-surface: 37.2% 0.044 257.287;
    --color-support: 44.6% 0.043 257.281;
    --color-border: 37.2% 0.044 257.287;
    --color-text: 96.8% 0.007 247.896;
    --color-text-muted: 70.4% 0.04 256.788;
    --color-accent: 76.5% 0.177 163.223;
    --color-accent-hover: 84.5% 0.143 164.978;
    --color-accent-text: 26.2% 0.051 172.552;
    --color-danger: 70.4% 0.191 22.216;
    --color-overlay: 12.9% 0.042 264.695;

    color-scheme: dark;
  }
}
